MVE_USERNAME=
MVE_PASSWORD=
SHEET_ID=151QhieSXw5XMbtK5U-xxZqdcmdscsf4exTSe9Gc-d8M
WORKSHEET_NAME=Sheet1
GOOGLE_CREDENTIALS_FILE=credentials.json
APP_PATH=C:\Program Files (x86)\My Vision Express\My Vision Express.exe
APP_TITLE_RE=.*Vision.*Express.*
MAX_ROWS_PER_RUN=5
COL_FIRST=First
COL_LAST=Last
COL_DOB=DOB
COL_STATUS=MVE Profile Added Y/N
COL_STATUS_ALT=MVE Profiled Added Y/N
